section.intro {
	min-height: 105vh;
	background-image: url("../media/support/blurry.png");
	background-size: cover;
	margin-top: -5vh;
}

section.intro .wrapper .left {
	padding-top: 35vh;
	padding-left: 5vw;
}

section.intro .wrapper .left > h1 {
	font-size: 10rem;
	font-weight: bold;
	color: #eee;
	opacity: 0;
	animation: title 0.8s ease-in forwards;
}

@keyframes title {

	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}

}

section.intro .wrapper .left > p {
	padding-top: 3vh;
	max-width: 40ch;
	line-height: 1.7;
	color: #ccc;
	font-size: 2rem;
	opacity: 0;
	animation: title 1s 1.25s ease-in forwards;
}

section.intro .wrapper {
	position: relative;
}

section.intro .wrapper .left button.donate {
	background-color: #77dd77;
	color: #222;
	font-size: 3rem;
	border-radius: 20px;
	padding: 1rem 2rem 1rem 2rem;
	margin-top: 2vh;
	transition: 0.2s ease-out;
	transform: scale(1);
	opacity: 0;
	animation: title 0.2s 2.5s ease-in forwards;
}

section.intro .wrapper .left button.donate:hover {
	transform: scale(1.2);
	color: #000;
}

section.intro .wrapper .right {
	position: absolute;
	left: 5vw;
	top: 70vh;
}

section.intro .wrapper .right .wrapper button.donate {
	background-color: #ff6961;
	color: white;
	font-size: 3rem;
	border-radius: 20px;
	padding: 1rem 2rem 1rem 2rem;
}

.wave {
	background-image: url('../media/waves/white-wave-1.svg');
	aspect-ratio: 1600/250;
	width: 100%;
	margin-left: 0%;
	margin-top: -15%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section.fundraising {
	background-color: #eee;
	width: 100vw;
	padding-bottom: 10vh;
}

section.fundraising .wrapper {
	max-width: 70vw;
	margin: auto;
}

section.fundraising .wrapper .title > h2 {
	font-size: 3rem;
	text-align: center;
}

section.fundraising .wrapper .content {
	margin-top: 10vh;
}

section.fundraising .wrapper .content .event {
	display: flex;
	gap: 1rem;
	max-width: 75%;
	margin: auto;
	align-items: center;
	text-align: left;
	padding-bottom: 5vh;
}

section.fundraising .wrapper .content .event:nth-child(2n) {
	text-align: right;
}

section.fundraising .wrapper .content .event .image {
	padding: 2rem;
	flex: 1 1 0;
}

section.fundraising .wrapper .content .event .text {
	padding: 2rem;
	padding-top: -5%;
	flex: 4 1 0;
}

section.fundraising .wrapper .content .event .image img {
	min-height: 20vh;
	border-radius: 2rem;
	object-fit: contain;
}

section.fundraising .wrapper .content .event .text > h3 {
	font-size: 2rem;
	color: #111;
}

section.fundraising .wrapper .content .event .text > p {
	margin-top: 1.5rem;
	font-size: 1.25rem;
	line-height: 2.0;
	color: #111;
}

section.banner {
	background: #ff6961;
	padding: 5vh 0rem 5vh 0rem;
}

section.banner .wrapper {
	max-width: 80vw;
	margin: auto;
}

section.banner .wrapper > h3 {
	color: #eee;
	text-align: center;
	line-height: 1.7;
}

section.sponsor {
	background: #eee;
}

section.sponsor .wrapper {
	max-width: 80vw;
	margin: auto;
	padding: 15vh 0rem 10vh 0rem;
}

section.sponsor .wrapper .title > h2 {
	font-size: 3rem;
	text-align: center;
}

section.sponsor .wrapper .content {
	padding-top: 8vh;
	display: flex;
}

section.sponsor .wrapper .content > .thing {
	flex: 1;
	text-align: center;
}

section.sponsor .wrapper .content > .thing .title {
	font-size: 2rem;
}

section.sponsor .wrapper .content > .thing .block {
	position: relative;
	width: 50%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

section.sponsor .wrapper .content > .thing .block > img {
	border-radius: 1rem;
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

section.sponsor .wrapper .content > .thing .block > p {
	display: none;
	transition: 0.2s ease-out;
}

section.sponsor .wrapper .content > .thing .block:hover > img {
	opacity: 0.2;
	border: 2px solid grey;
	transition: 0.2s ease-out;
}

section.sponsor .wrapper .content > .thing .block:hover > p {
	font-size: 1.25rem;
	display: revert;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 20ch;
	transform: translate(-50%, -50%);
}

section.sponsor .wrapper .content > .thing .text {
	font-size: 1.25rem;
	max-width: 80%;
	margin: auto;
}

section.sponsor .wrapper .content > .thing .text > span {
	font-weight: bold;
	color: purple;
}

section.email-reminder {
	background: #eee;
}

section.email-reminder .wrapper {
	padding-top: 0vh;
	text-align: center;
}

section.email-reminder .wrapper button {
	background-color: #8bd3e6;
	color: #222;
	font-size: 3rem;
	border-radius: 100vh;
	padding: 1rem 2.5rem 1rem 2.5rem;
	transition: 0.2s ease-out;
}

section.email-reminder .wrapper button:hover {
	background-color: #779ecb;
	color: #fff;
	cursor: pointer;
}

section.patrons {
	background: #eee;
}

section.patrons .wrapper {
	max-width: 80vw;
	margin: auto;
	padding: 20vh 0rem 10vh 0rem;
}

section.patrons .wrapper .title > h2 {
	font-size: 3rem;
	text-align: center;
}

section.patrons .wrapper .content {
	padding-top: 5vh;
	display: flex;
	flex-wrap: wrap;
}

section.patrons .wrapper .content .thing {
	flex: 1;
	height: 40vh;
	padding: 1rem;
	text-align: center;
	padding-bottom: 2rem;
}

section.patrons .wrapper .content .thing .image {
	height: calc(100% - 1rem);
	padding-bottom: 1rem;
}

section.patrons .wrapper .content .thing .image > img {
	border-radius: 1rem;
	height: 100%;
	aspect-ratio: 3/4;
	object-fit: cover;
}

section.patrons .wrapper .content .thing .image > img:hover {
	cursor: pointer;
}

section.patrons .wrapper .content .thing > h3 {
	font-size: 1.75rem;
}

.my-modal {
	display: none;
}

.my-modal .grey {
	z-index: 10000;
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	background-color: #f2cef8;
	opacity: 0.85;
}

.my-modal .box {
	z-index: 20000;
	padding: 4rem;
	border-radius: 1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #eee;
	max-width: 90vw;
}

.my-modal .box > p {
	color: #222;
	max-width: 70ch;
	font-size: 1.25rem;
	line-height: 1.8;
	margin-bottom: 0;
}

.my-modal .box > .fas {
	right: 1.5rem;
	top: 1rem;
	font-size: 3rem;
	position: absolute;
	color: #111;
	transition: 0.1s ease-out;
}

.my-modal .box > .fas:hover {
	transition: 0.1s ease-out;
	color: purple;
	cursor: pointer;
}

@media (max-width: 2000px) {

	section.fundraising .wrapper .content .event {
		max-width: 100%;
	}

	section.banner .wrapper > h3 {
		font-size: 1.5rem;
	}

}

@media (max-width: 1600px) {

	section.intro .wrapper .left > h1 {
		font-size: 7rem;
	}

	section.intro .wrapper .left > p {
		font-size: 1.5rem;
	}

	section.intro .wrapper .left button.donate {
		font-size: 2rem;
	}

	section.fundraising .wrapper .content .event .text > h3 {
		font-size: 1.75rem;
	}

	section.fundraising .wrapper .content .event .text > p {
		margin-top: 1.25rem;
		font-size: 1rem;
		line-height: 1.8;
	}

	section.banner .wrapper > h3 {
		font-size: 1.5rem;
	}

	section.sponsor .wrapper {
		max-width: 90vw;
	}

	section.sponsor .wrapper .content > .thing .text {
		font-size: 1.15rem;
		max-width: 70%;
	}

	section.sponsor .wrapper .content > .thing .block:hover > p {
		font-size: 1rem;
	}

	section.sponsor .wrapper {
		padding: 20vh 0rem 10vh 0rem;
	}

	section.email-reminder .wrapper button {
		font-size: 2.5rem;
	}

	.my-modal .box {
		padding: 3rem;
	}

	.my-modal .box > p {
		width: 60vw;
		font-size: 1rem;
		line-height: 1.8;
	}

	.my-modal .box > .fas {
		right: 1.5rem;
		top: 0.5rem;
		font-size: 3rem;
	}

}

@media (max-width: 1200px) {

	section.intro .wrapper .left {
		padding-top: 30vh;
	}

	section.fundraising .wrapper {
		max-width: 90vw;
	}

	section.banner .wrapper > h3 {
		font-size: 1.25rem;
	}

	section.banner .wrapper {
		max-width: 90vw;
	}

	section.sponsor .wrapper {
		max-width: 95vw;
	}

	section.sponsor .wrapper .title > h2 {
		font-size: 2.75rem;
	}

	section.sponsor .wrapper .content > .thing .title {
		font-size: 1.70rem;
	}

	section.sponsor .wrapper .content > .thing .block {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	section.sponsor .wrapper .content > .thing .block:hover > p {
		font-size: 0.9rem;
		max-width: 40ch;
	}

	section.sponsor .wrapper .content > .thing .text {
		font-size: 1rem;
	}

	section.email-reminder .wrapper button {
		font-size: 2rem;
	}

	section.patrons .wrapper .title > h2 {
		font-size: 2.5rem;
	}

	section.patrons .wrapper .content .thing > h3 {
		font-size: 1.5rem;
	}

	section.patrons .wrapper {
		max-width: 90vw;
	}

	.my-modal .box {
		padding: 2rem;
	}

	.my-modal .box > p {
		width: 60vw;
		font-size: 1rem;
		line-height: 1.7;
	}

	.my-modal .box > .fas {
		right: 1rem;
		top: 0.5rem;
		font-size: 2.5rem;
	}

}

@media (max-width: 1000px) {

	section.intro .wrapper .left > h1 {
		font-size: 5rem;
	}

	section.intro .wrapper .left > p {
		font-size: 1.25rem;
	}

	section.intro .wrapper .left button.donate {
		font-size: 1.5rem;
		padding: 0.75rem 1.25rem 0.75rem 1.25rem;
	}

	section.sponsor .wrapper {
		max-width: 100vw;
	}

	section.email-reminder .wrapper button {
		font-size: 2rem;
		padding: 1rem 2rem 1rem 2rem;
	}

	section.patrons .wrapper .title > h2 {
		font-size: 2.25rem;
	}

	section.patrons .wrapper .content .thing {
		height: 50vh;
	}

	section.patrons .wrapper .content .thing > h3 {
		font-size: 1rem;
	}

}

@media (max-width: 600px) {

	section.intro {
		min-height: 0vh;
		height: 95vh;
		background-image: url("../media/support/blurry1.png");
		background-size: cover;
		margin-top: -5vh;
		overflow: hidden;
	}

	section.intro .wrapper .left {
		padding-top: 20vh;
		padding-left: 5vw;
		padding-right: 10vw;
		position: relative;
	}

	section.intro .wrapper .left > h1 {
		font-size: 4.25rem;
	}

	section.intro .wrapper .left > p {
		padding-top: 2vh;
		max-width: 30ch;
		line-height: 1.6;
		font-size: 1rem;
	}

	section.intro .wrapper .left button.donate {
		position: absolute;
		font-size: 1.5rem;
		border-radius: 20px;
		padding: 1rem 2rem 1rem 2rem;
		left: 50%;
		bottom: -15vh;
		transform: translate(-50%, 0%);
	}

	section.intro .wrapper .left button.donate:hover {
		transform: translate(-50%, 0%);
		color: #222;
	}

	section.fundraising {
		padding-bottom: 8vh;
	}

	section.fundraising .wrapper {
		max-width: 100vw;
	}

	section.fundraising .wrapper .title > h2 {
		font-size: 2.5rem;
		padding-top: 5vh;
	}

	section.fundraising .wrapper .content {
		margin-top: 5vh;
	}

	section.fundraising .wrapper .content .event {
		flex-direction: column;
		gap: 1rem;
		max-width: 100%;
		text-align: center;
		padding-bottom: 5vh;
	}

	section.fundraising .wrapper .content .event:nth-child(2n) {
		text-align: center;
	}

	section.fundraising .wrapper .content .event .image {
		order: -1;
		padding: 2rem;
	}

	section.fundraising .wrapper .content .event .text {
		max-width: 90%;
		margin-top: -2rem;
	}

	section.fundraising .wrapper .content .event .image img {
		max-width: 70vw;
		border-radius: 1rem;
	}

	section.fundraising .wrapper .content .event .text > h3 {
		font-size: 1.5rem;
	}

	section.fundraising .wrapper .content .event .text > p {
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 1.8;
	}

	section.banner .wrapper > h3 {
		line-height: 1.6;
	}

	section.sponsor .wrapper {
		max-width: 90vw;
		padding: 15vh 0rem 10vh 0rem;
	}

	section.sponsor .wrapper .title > h2 {
		font-size: 2.5rem;
	}

	section.sponsor .wrapper .content {
		padding-top: 5vh;
		display: flex;
		flex-direction: column;
		gap: 15vh;
	}

	section.sponsor .wrapper .content > .thing .title {
		font-size: 1.75rem;
	}

	section.sponsor .wrapper .content > .thing .block {
		width: 60%;
	}

	section.sponsor .wrapper .content > .thing .block:hover > p {
		display: none;
	}

	section.sponsor .wrapper .content > .thing .text {
		font-size: 1.1rem;
	}

	section.email-reminder .wrapper button {
		font-size: 1.75rem;
	}

	section.patrons .wrapper .title > h2 {
		font-size: 2.5rem;
	}

	section.patrons .wrapper .content {
		padding-top: 0vh;
	}

	section.patrons .wrapper .content .thing {
		height: 40vh;
	}

	section.patrons .wrapper .content .thing > h3 {
		font-size: 1.25rem;
	}

	.my-modal .box {
		padding: 2rem;
		overflow-y: scroll !important;
		max-height: 80vh;
	}

	.my-modal .box > p {
		width: 80vw;
		font-size: 1rem;
		line-height: 1.6;
	}

	.my-modal .box > .fas {
		right: 0.5rem;
		top: 0.3rem;
		font-size: 2.5rem;
	}

}









